:root {
    --dark-color: #2A3439;
    --primary-color: #36454F;
    --secondary-color: #536878;
    --third-color: #708090;
    --forth-color: #91A3B0;
    --fifth-color: #BEBFC5;
    --light-color: #E5E4E2;
    --lighter-color: #F5F5F5;
    --silver-color: #C0C0C0;
    
}


.Container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    gap: 1rem;
}

h1 {
    letter-spacing: 0.2rem;
}

.Card {
   border: 1px solid var(--forth-color);
   background-color: var(--dark-color);
   border-radius: 1rem;
   box-shadow: 0px 3px 6px;
   color: var(--silver-color);
}

.img {
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    margin: 0.4rem;
}

.img:hover {
 opacity: 0.6;
}

.button {
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  border-style: hidden;
  margin: 1rem;
}

.lists {
  opacity: 0;
}

.lists:hover {
 visibility: visible;
 opacity: 1;
 color: var(--dark-color);
 font-size: 1rem;
 font-weight: bold;
 padding: 0;
}

/* @media screen and (min-width: 768px) {
    .Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .Card {
       border: 1px solid var(--forth-color);
       background-color: var(--dark-color);
       border-radius: 1rem;
       box-shadow: 0px 3px 6px;
       padding: 4rem 6rem;
       margin: 4rem 0;
       color: var(--silver-color);
    
    }
    
    .img {
        border: 1px solid var(--primary-color);
        margin: 2rem 0;
    }
    
    .img:hover {
     cursor: pointer;
     opacity: 0.8;
    }
    
    .button {
      background-color: var(--secondary-color);
      border-radius: 1rem;
      border-style: inherit;
      margin-bottom: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    } */

